<link rel="stylesheet" href="style.css">
<div class="navbar">
    <a href="index">About me</a>
    <a href="skill">Skill</a>
    <a href="contact">Contact me</a>
    <a href="portfolio">Portfolio</a>
</div>



<div class="nav">
    <img class="logo" src="logo.jpg" alt="">
    <a href="#"><strong>My Application</strong></a>

    <div class="search">
        <input type="text" placeholder="Search Product" name="search">
        <button type="submit">Search</button>
    </div>
    <a id="newproduct" href="#">New Product</a>
</div>

<div class="product">
    <div class="info">
        <table>
            <tr>
                <td><img id="eg" src="eg.jpg" alt=""></td>
                <td>
                    <ul>
                        <li>Product Name</li>
                        <li>Price</li>
                        <li>Description</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <div class="info">
        <table>
            <tr>
                <td><img id="eg" src="eg.jpg" alt=""></td>
                <td>
                    <ul>
                        <li>Product Name</li>
                        <li>Price</li>
                        <li>Description</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <div class="info">
        <table>
            <tr>
                <td><img id="eg" src="eg.jpg" alt=""></td>
                <td>
                    <ul>
                        <li>Product Name</li>
                        <li>Price</li>
                        <li>Description</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <div class="info">
        <table>
            <tr>
                <td><img id="eg" src="eg.jpg" alt=""></td>
                <td>
                    <ul>
                        <li>Product Name</li>
                        <li>Price</li>
                        <li>Description</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <div class="info">
        <table>
            <tr>
                <td><img id="eg" src="eg.jpg" alt=""></td>
                <td>
                    <ul>
                        <li>Product Name</li>
                        <li>Price</li>
                        <li>Description</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <div class="info">
        <table>
            <tr>
                <td><img id="eg" src="eg.jpg" alt=""></td>
                <td>
                    <ul>
                        <li>Product Name</li>
                        <li>Price</li>
                        <li>Description</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>