<link rel="stylesheet" href="style.css">
<div class="navbar">
    <a href="index">About me</a>
    <a href="skill">Skill</a>
    <a href="contact">Contact me</a>
    <a href="portfolio">Portfolio</a>
</div>
<h1>Skill</h1>
<div class="list">
    <ul>
      <li>Javascript</li>
      <li>HTML</li>
      <li>MySQL</li>
      <li>Node.JS</li>
      <li>Koa</li>
      <li>Cloud Deployment</li>
      <li>Algorithm: Data Structure</li>
    </ul>
  </div>